// home
// =============================================================

.page--home {

    %title-base {
        @include fz(48);
        color: red;
        text-align: center;
        margin: 0 0 30px;
    }
    %description-base {
        font-weight: normal;
        margin:  0 0 50px;
    }

    .section__wrap {
        @include cf();
        @include center($sectionWrap);
        padding: 60px 40px;

        &-title {
            @extend %title-base;
            &--single {
                @extend %title-base;
            }
        }

        &-description {
            @extend %description-base;
            @include fz(22);
            text-align: center;
            &--sentence {
                @extend %description-base;
                @include fz(16);
                text-align: left;
            }
        }
    }


    // .home-intro
    // =============

    .home-intro {
        background-color: yellow;
        text-align: center;
        &__title {
            @include fz(80);
            line-height: 1;
            color: red;
            margin:  0 0 20px;
            &--secondly {
                @include fz(48);
                line-height: 1;
                color: red;
                margin:  0 0 30px;
            }
        }
    }

    // .form-elements
    // =============

    .form-elements {
        background-color: yellow;
        &__item {
            margin-bottom: 30px;
        }
        &__button {
            text-align: center;
            margin-bottom: 30px;
            .button {
              margin: 0 10px;
            }
        }
    }

    .cols {
      @include col(2/4);
      background-color: yellow;
      text-align: center;
    }

}


