// layouts
// ===================================================

.content-header {
    position: fixed;
    z-index: $zIndex-8;
    top: 0;
    left: 0;
    background-color: red;
    text-align: right;
    width: 100%;
    height: $headerHeight;

    .global-nav {
        display: inline-block;
         &__list {
            margin: 0;
            padding-top: $headerHeight/2-10px;
            &-item {
                display: inline-block;
                padding-right: 25px;
                a {
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
    }

    .user-nav {
        display: inline-block;
         &__list {
            margin: 0;
            padding-right: 25px;
            &-item {
                display: inline-block;
                padding-right: 15px;
                a {
                    color: $primayBlack;
                }
            }
        }
    }
}

.content-settings {
    position: fixed;
    z-index: $zIndex-10;
    top: $headerHeight;
    right: 12px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 0.5em 1px rgba(0,0,0,0.2);
    &::before {
        position: absolute;
        z-index: $zIndex-10;
        top: -16px;
        right: 30px;
        width: 0;
        height: 0;
        content: '';
        pointer-events: none;
        border: 8px solid transparent;
        border-bottom: 8px solid #fff;
        background: 0 0;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }

    @include transition(all 0.3s ease-in-out);
    @include transform(translateY(-10px));
    opacity: 0;
    display: none;
    &.is-active {
        @include transform(translateY(0));
        opacity: 10;
        display: block;
    }
}

.content-notifications {
    position: fixed;
    z-index: $zIndex-10;
    top: $headerHeight;
    right: 0;
    background-color: blue;
    overflow: auto;
    height: 100%;
    width: $contentNav;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        a {
            display: block;
            padding: 15px 25px;
            color: #fff;
            &:hover {
                color: blue;
                background-color: #fff;
            }
        }
    }
    @include transition(all 0.2s ease-in-out);
    @include transform(translateX($contentNav));
    &.is-active {
        @include transform(translateX(0));
    }
}

.content-wrap {
    @include cf();
    margin-top: $headerHeight;
}

.content-main {
    width: 100%;
    .sub-header {
        background-color: #fff;
        width: 100%;
        top: 0;
        left: 0;
        @include transition(top 0.2s ease-in-out);
        &.is-fixed {
            position: fixed;
            top: $headerHeight;
            z-index: $zIndex-5;
        }
        .sub-header-nav {
            margin: 0;
            padding: 10px;
            li {
                display: inline-block;
                list-style: none;
            }
        }
    }
}

.content-footer {
    padding: 40px;
    text-align: center;
    background-color: blue;
    color: #fff;
    a {
        color: #fff;
    }
}
